.fridge-info-graph {
    margin-top: 20px;
  }
  
  .fridge-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .fridge-freshness, .smart-buy {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex: 1;
    margin: 0 10px;
  }
  
  .graph-section {
    text-align: center;
  }
  
  .time-selectors button {
    background: none;
    border: none;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
  }
  
  .time-selectors .active {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .graph {
    height: 150px;
    background-color: #f9f9f9;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  