.product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: white;
  height: 100vh;
  padding: 20px;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 10px 0;
}

.product-header h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

.back-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.product-details {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 18px;
  border-bottom: 1px solid lightgray;
}

.detail-row:last-child {
  border-bottom: none;
}

.product-image-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.product-image {
  width: 250px;
  max-width: 90%;
  object-fit: contain;
}
