.recipe-container {
  background: #c1e0ed;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 3.1px 2px rgba(0, 0, 0, 0.07);
  text-align: center;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.recipe-title {
  padding-top: 12px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.recipe-text {
  font-size: 16px;
  color: rgb(0, 0, 0);
  min-height: 30px;
  padding-bottom: 12px;
  text-align: center;
  margin: 0 10px;
}

.error-message {
  color: red;
  text-align: center;
}

.no-recipe {
  color: rgb(61, 186, 67);
  text-align: center;
}


.no-bullets, .no-numbers {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ingredient-list, .instruction-list {
  margin-top: 5px;
  margin-bottom: 10px;
}

.ingredient-item, .instruction-item {
  margin: 2px 0;
  font-size: 14px;
  line-height: 1.5;
}
