.recipe-container {
  padding: 0 15px;
  border-radius: 10px;
  text-align: left;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #000;
  font-feature-settings: 'dlig' on;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 33.341px;
}

.recipe-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.recipe-card:hover {
  transform: scale(1.02);
}

.recipe-title {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-feature-settings: 'dlig' on;
  font-style: normal;
  font-weight: 200;
  line-height: 33.341px;
}

.section-header {
  font-size: 16px;
  margin-top: 15px;
}

.ingredient-list,
.instruction-list {
  padding: 0 10px;
}

.ingredient-item,
.instruction-item {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 5px;
}

.ingredient-list li,
.instruction-list li {
  list-style-type: none;
}
