.fridge-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15%;
  border-bottom: 1px solid #ddd;
  background-color: white;
  box-shadow: 0px 0px 3.1px 2px rgba(0, 0, 0, 0.07);
  padding: 0 10px;

  .back-button,
  .search-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    }

    .back-button {
      visibility: visible;

      &.hidden {
        visibility: hidden;
      }
    }

    h1 {
      max-width: 200px;
      flex-grow: 1;
      text-align: center;
      white-space: nowrap;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
    }

  .search-button {
    visibility: visible;

    &.hidden {
      visibility: hidden;
    }

    .search-icon, .cancel-icon {
      width: 20px;
      height: 20px;
    }
  }

  .search-input {
    flex: 1;
    padding: 8px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 100%;
    transition: width 0.3s ease;
    background: #fff;

    &::placeholder {
      color: #aaa;
    }
  }
  }

  .fridge-subtext {
    color: #A4A4A4;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 93.333% */
    letter-spacing: -0.078px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 20px;
  }