.add-fridge-card {
  background: white;
  padding-bottom: 15px;
  border-radius: 12px;
  box-shadow: 0px 0px 3.1px 2px rgba(0, 0, 0, 0.07);
}

.add-fridge-subtitle {
margin-bottom: 14px;
}

.input-container {
  padding-left: 10%;
  display: flex;
  gap: 10px;
}

.success-text {
  color: green;
  background-color: #eaffea;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  transition: opacity 0.5s ease-in-out;
}

.error-text {
  color: red;
  background-color: #ffe6e6;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.add-fridge-button {
  background: none;
  border: none;
  outline: none; 
  box-shadow: none; 
  cursor: pointer; 
}

.add-fridge-button:focus,
.add-fridge-button:active {
  border: none;
  outline: none;
  box-shadow: none;
}
