.fridge-card {
  background: white;
  padding-bottom: 15px;
  border-radius: 12px;
}

.input-container {
  padding-left: 10%;
  display: flex;
  gap: 10px;
}

.success-text {
  color: green;
  background-color: #eaffea;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  transition: opacity 0.5s ease-in-out;
}

.error-text {
  color: red;
  background-color: #ffe6e6;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}