
.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 292px;
  height: 56px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0px 0px 3.1px 2px rgba(0, 0, 0, 0.07);
  border-radius: 0 0 30px 30px;
}

.footer-item {
  cursor: pointer;   
  align-items: center;
  padding: 10px;
}

.footer-item img {
  width: 21px;
}