
.footer {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 360px;
  height:10%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 40px 40px;
  }
  
  .footer-item {
    cursor: pointer;   
    align-items: center;
    padding: 10px;
  }
  
  .footer-item img {
    width: 24px;
  }