#root {
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
  width: 360px;
  height: 660px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.684);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  overflow: hidden;
}

.logo {
  height: 8em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
