.items-container {
  margin: 0 auto;
  padding: 10px;
  background: white;
  box-shadow: 0px 0px 3.1px 2px rgba(0, 0, 0, 0.07);
  text-align: left;
}

.items-title {
  border-bottom: 1px solid lightgray;
  font-style: normal;
  font-weight: 200;
  letter-spacing: -0.72px;
  padding-bottom: 10px;
  margin: 0;
}

.items-list {
  padding: 0;
  margin: 0;
}

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f4f4f4;
  padding: 0 12px;
  margin: 8px 0;
  border-radius: 8px;
  box-shadow: 0px 0px 3.1px 2px rgba(0, 0, 0, 0.07);
  transition: transform 0.2s ease-in-out;
  padding-right: 80px;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items:center
}

.item-card:hover {
  transform: scale(1.02);
}

.item-info {
  font-size: 12px;
}

.item-info span {
  display: block;
  margin-top: 3px;
}

.status-icon {
  width: 15px;
  height: 15px;
}

.loading, .error, .not-found {
  font-size: 16px;
  color: #777;
  text-align: center;
  margin-top: 20px;
}
