.category-list {
  width: 100%;
  max-width: 600px;
}

.category-item {
  display: block;
  padding: 20px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid lightgray;
}

.category-item:last-child {
  border-bottom: none;
}

.fridge-page {
  opacity: 0;
  height: 100%;
  transition: opacity 0.10s ease-in-out;
}

.fridge-page.fade-in {
  opacity: 1;
}
